@model IEnumerable<NugetAnalyzer.Dtos.Models.Repositories.RepositoryChoice>

@section Styles {
    <link href="~/stylesheets/Repository/AddRepositoriesModal.css" rel="stylesheet" />
}

<div class="modal-wrapper">
    <div class="modal show">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title font-weight-bold">Add your repositories</h2>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Repository name</th>
                                <th></th>
                                <th>Branch</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var repository in Model)
                            {
                                <tr>
                                    <td>
                                        <a class="modal__repository-name" target="_blank" rel="noopener noreferrer" href="@repository.Url">@repository.Name</a>
                                    </td>
                                    <td>
                                        <input type="checkbox" value="@repository.Id">
                                    </td>
                                    <td>
                                        <a class="modal__repository-branch" value="@repository.Id" data-toggle="tooltip" title="click to change branch">
                                            <span>@repository.DefaultBranch</span>
                                            <span class="text-gray">(default)</span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-center">
                    <input type="submit" class="btn btn-dark" value="Add"/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
</div>