<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="Shortcut Icon" href="~/images/logo/logo.ico" type="image/x-icon" />
    <title>@ViewData["Title"]</title>

    <link href="~/stylesheets/bootstrap.min.css" rel="stylesheet" />

    <link href="~/stylesheets/Shared/SignIn.min.css" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body>
    <div class="container mt-5">
        @RenderBody()
        <footer class="container mt-5">
            <div class="row justify-content-center align-items-center">
                <div class="footer__link">
                    <a asp-action="About" asp-controller="Home">
                        @Localizer["About"]
                    </a>
                </div>
                <div class="footer__link">
                    <a asp-action="Contacts" asp-controller="Home">
                        @Localizer["Contacts"]
                    </a>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/scripts/jquery-3.4.0.min.js"></script>
    <script src="~/scripts/popper.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    @RenderSection("Scritps", false)
</body>
</html>
