@using NugetAnalyzer.DTOs.Models
@using NugetAnalyzer.DTOs.Models.Enums
@using NugetAnalyzer.Web.Infrastructure.Extensions

@model ProjectReportDTO

@{
    ViewData["Title"] = "Report";
}

@section Styles
{
    <link href="~/stylesheets/Project/Report.min.css" rel="stylesheet" />
}

@section Scritps
{
    <script src="~/scripts/Shared/tooltip.js"></script>
}

<h4>@Model.Name 
    @if (Model.Report.VersionStatus != PackageVersionStatus.Actual)
    {
       <span class="notification__error d-inline-block" tabindex="0" data-toggle="tooltip" title="Version: @Model.Report.VersionStatus.ToString()">
           <notice type="@Model.Report.VersionStatus.ToString()"></notice>
       </span>
    }
    @if (Model.Report.DateStatus != PackageDateStatus.Undefined)
    {
        <span class="notification__info d-inline-block" tabindex="0" data-toggle="tooltip" title="Date: @Model.Report.DateStatus.ToString()">
            <notice type="@Model.Report.DateStatus.ToString()"></notice>
        </span>
    }
</h4>
<br />
<table class="table table-hover text-center">
    <thead>
        <tr>
            <th class="align-middle" colspan="2">Package Name</th>
            <th class="align-middle">Current version</th>
            <th class="align-middle">Published date</th>
            <th class="align-middle">Latest version</th>
            <th class="align-middle">Published date</th>
            <th class="align-middle">Report</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Packages)
        {
            <tr>
                <th class="nuget__svg">
                    <span>
                        <svg viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Component/Row" transform="translate(-20.000000, -21.000000)" class="high-contrast-visible" stroke="#004880">
                                    <g id="_asset/LogoOutline" transform="translate(20.000000, 21.000000)">
                                        <g id="Group-2">
                                            <rect id="Rectangle" stroke-width="2" x="9.65384615" y="9.65384615" width="39.3461538" height="39.3461538" rx="10"></rect>
                                            <circle id="Oval" stroke-width="2" cx="4.32692308" cy="4.32692308" r="3.32692308"></circle>
                                            <circle id="Oval" stroke-width="2" cx="19.2307692" cy="19.2307692" r="3.80769231"></circle>
                                            <circle id="Oval" stroke-width="2" cx="36.5384615" cy="36.5384615" r="6.69230769"></circle>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </span>
                </th>
                <td class="text-left">
                    <a href="https://www.nuget.org/packages/@item.PackageName/">@item.PackageName</a>
                </td>
                <td>@item.Current.GetVersion()</td>
                <td>@item.Current.PublishedDate?.ToShortDateString()</td>
                <td>@item.Latest.GetVersion()</td>
                <td>@item.Latest.PublishedDate?.ToShortDateString()</td>
                <td>@if (@item.Report.VersionStatus != PackageVersionStatus.Actual)
                    {
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="@item.Report.VersionStatus.ToString()">
                            Version
                            <notice type="@item.Report.VersionStatus.ToString()"></notice>
                        </span>
                    }
                    @if (@item.Report.DateStatus != PackageDateStatus.Undefined)
                    {
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="@item.Report.DateStatus.ToString()">
                            Date
                            <notice type="@item.Report.DateStatus.ToString()"></notice>
                        </span>
                    }
                    @if (@item.Report.IsObsolete)
                    {
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="The package has not been updated for a long time">
                            <notice type="obsolete"></notice>
                        </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>